.divider {
    margin: 10px 20px;
    color: #878484;
}

.width-100-pc {
  width: 100%;
}

.grid-container {
  /* width: 80%; */
  max-width: 600px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.add-goal {
  width: 105px;
  padding-left: 4px;
  height: 25px;
  line-height: 20px;
}

.category-select {
  width: 110px;
}

.header {
  padding: 5px 15px 0;
  height: 30px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: small;
  text-decoration: underline;
}

.list-item {
  position: relative;
  margin-top: 2px;
  height: auto;
  max-width: 600px;
}
