<p></p>
<div class="flex-container">
    <div class="grid-container">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" fxLayout.xs="row"
            fxLayoutAlign.xs="start center" class="header">
            <div fxflex class="title">{{ (isHandset$ | async) === false ? 'Long Term Goals' : 'LTG' }}</div>
            <div fxflex>
                <mat-form-field class="category-select">
                    <mat-select [formControl]="currentStatus">
                        <mat-select-trigger>
                            {{ currentStatus.value.text }}
                        </mat-select-trigger>
                        <mat-option *ngFor="let ltgTab of ltgHomeTabs" [value]="ltgTab">
                            {{ ltgTab.text }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxflex>
                <button mat-raised-button color="primary" matTooltip="Add Long Term Goal"
                    [ngClass]="{'add-goal': (isHandset$ | async) === false}" (click)="showAddLtgForm()">
                    <mat-icon>add</mat-icon>{{ (isHandset$ | async) === false ? 'Add a goal' : '' }}
                </button>
            </div>
            <div fxflex>
                <mat-form-field class="category-select">
                    <mat-select [formControl]="typeFilter">
                        <mat-select-trigger>
                            {{ typeFilter.value.text }}
                        </mat-select-trigger>
                        <mat-option [value]="allCategorySelectOption">All Categories</mat-option>
                        <mat-option *ngFor="let gType of goalTypes" [value]="gType">
                            <mat-icon [class]="gType.icon_class">{{ gType.icon }}</mat-icon>{{
                            gType.text }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <mat-list class="width-100-pc">
            <div *ngFor="let key of displayedLtgs|objectkeys">
                <mat-list-item *ngFor="let goalRef of displayedLtgs[key]" class="list-item">
                    <app-lt-goal-card class="width-100-pc" [goalObj]="goalRef" [tab]="currentStatus.value.value"
                        (goalUpdated)="getGoalsForTab()">
                    </app-lt-goal-card>
                </mat-list-item>
            </div>
        </mat-list>
    </div>
</div>
<p></p>
