.list-item {
    position: relative;
    margin-top: 2px;
    height: auto;
    max-width: 600px;
}

.success {
    margin: 10px 20px;
    color: #548461;
    font-size: medium;
}

.failed {
    margin: 10px 20px;
    color: #ec8282;
    font-size: medium;
}