<mat-list>
    <div *ngFor="let sortField of order">
        <mat-list-item *ngFor="let goalRef of goalsList[sortField.value]" class="list-item">
            <app-goal-card [goalRef]="goalRef" style="width: 100%;" (goalUpdated)="updateGoalsList()"></app-goal-card>
        </mat-list-item>
    </div>
    <mat-list-item *ngFor="let goalRef of successGoals" class="list-item">
        <app-goal-card [goalRef]="goalRef" style="width: 100%;" (goalUpdated)="updateGoalsList()"></app-goal-card>
    </mat-list-item>
    <mat-list-item *ngFor="let goalRef of failureGoals" class="list-item">
        <app-goal-card [goalRef]="goalRef" style="width: 100%;" (goalUpdated)="updateGoalsList()"></app-goal-card>
    </mat-list-item>
</mat-list>