<div class="my-card mat-elevation-z2" *ngIf="isCardVisible">
    <div class="card-header">
        <div class="card-title" (click)="toggleCardBodyVisible()">
            <img class="custom-icon" [src]="Icons.get(goalObj.priority)" [alt]="goalObj.priority"
                [matTooltip]="getPriorityText(goalObj.priority)">
            <mat-icon [class]="getGoalTypeIconColor(goalObj.goal_type)">
                {{ getGoalTypeIcon(goalObj.goal_type) }}
            </mat-icon>
            <div>{{ goalObj.goal_title|titlecase }}</div>
        </div>
        <div class="more-button">
            <button color="primary" (click)="handleEdit()" mat-icon-button matTooltip="Edit goal" class="card-menu">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Options" class="card-menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <ng-template matMenuContent>
                    <button *ngIf="isCurrentLtgTab()" (click)="handleStatusChange('successful')" color="primary" mat-menu-item
                        matTooltip="Mark Complete">
                        <mat-icon>done</mat-icon> Mark Completed
                    </button>
                    <button *ngIf="isCurrentLtgTab()" (click)="handleStatusChange('failed')" color="primary" mat-menu-item
                        matTooltip="Mark Failed">
                        <mat-icon>close</mat-icon> Mark Failed
                    </button>
                    <button *ngIf="isCurrentLtgTab()" (click)="handleStatusChange('archived')" color="primary" mat-menu-item
                        matTooltip="To put on hold/archive">
                        <mat-icon>archive</mat-icon> Archive goal
                    </button>
                    <button *ngIf="tab && !isCurrentLtgTab()" (click)="handleStatusChange('current')" color="primary"
                        mat-menu-item matTooltip="Move to Current">
                        <mat-icon>assignment</mat-icon> Move to current
                    </button>
                    <button *ngIf="isCurrentLtgTab()" color="primary" (click)="handleDelete()" mat-menu-item
                        matTooltip="Delete goal">
                        <mat-icon>delete</mat-icon> Delete goal
                    </button>
                </ng-template>
            </mat-menu>
        </div>
    </div>

    <div *ngIf="isCardBodyVisible" class="card-body" fxLayout="column" fxLayoutAlign="space-between stretch"
        fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxflex>
                    <b>Created on:</b> {{ goalObj.created_date.format("DD-MM-YYYY") }}
                </div>
                <div fxflex>
                    <b>Target Date:</b> {{ goalObj.target_date.format("DD-MM-YYYY") }}
                </div>
                <div fxflex>
                    <b>Progress:</b> {{ goalObj.completed_parts }}/{{ goalObj.total_parts }}
                </div>
            </div>
            <p></p>
            <div fxflex>
                <b>Description:</b>
                <p [innerHtml]="goalObj.description || 'N/A'"></p>
            </div>
            <div fxflex *ngIf="goalObj.outcome">
                <b>Expected Outcome:</b>
                <p [innerHtml]="goalObj.outcome"></p>
            </div>
            <div fxflex *ngIf="goalObj.obstacles">
                <b>Obstacles:</b>
                <p [innerHtml]="goalObj.obstacles"></p>
            </div>
            <div fxflex *ngIf="goalObj.plan">
                <b>Plan:</b>
                <p [innerHtml]="goalObj.plan"></p>
            </div>
            <div fxflex>
                <p><b>Closing Comments:</b> {{ goalObj.closing_comment || "N/A" }}</p>
            </div>
    </div>
</div>