.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: white;
  border-right: none;
}

.sidenav .mat-toolbar {
  background: #3f51b5;
  color: white;
  font-family: 'Poppins', sans-serif;
  height: 40px;
}

.sidenav .mat-nav-list > a {
  font-family: 'Poppins', sans-serif;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 40px;
}

.example-spacer {
  flex: 1 1 auto;
}

.menu-item {
  color: #048306;
}

.menu-item-span {
  margin-left:10px;
}
