/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:ital,wght@0,600;1,400&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-icon {
    height: 20px;
    width: 20px;
}

.professional {
    color: rgb(21, 172, 188);
    font-size: 19px;
}

.health {
    color: rgb(221, 35, 35);
    font-size: 18px;
}

.self-improvement {
    color: rgb(234, 147, 25);
    font-size: 20px;
}

.personal {
    color: rgb(96, 25, 177);
    font-size: 19px;
}

.financial {
    color: rgb(34, 18, 73);
    font-size: 19px;
}

.ck-editor__editable_inline {
    height: 400px;
    margin-bottom: 10px;
    font-size: 0.85em;
    line-height: 1.24em;
}

.ck-editor__editable_inline table tbody tr td.ck-editor__editable.ck-editor__nested-editable {
    vertical-align: top;
}