<mat-toolbar color="primary">
    <span *ngIf="!(isHandset$ | async)" class="example-spacer"></span>
    <span class="header">
        Long Term Goals
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button matTooltip="Add Long Term Goal" (click)="showAddLtgForm()">
        <mat-icon>add_task</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Sort By">
        <mat-icon>sort</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <ng-template matMenuContent>
            <button mat-menu-item *ngFor="let entry of sortFields" (click)="updateSortField(entry)">
                <span>{{ entry | titlecase }}</span>
            </button>
        </ng-template>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>