.grid-container {
  width: 100%;
  max-width: 600px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.header {
  padding: 5px 15px 0;
  height: 30px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: small;
  text-decoration: underline;
}

.example-spacer {
  flex: 1 1 auto;
}

.success-chip {
  background-color: #2d9124d9;
  border-radius: 5px;
}

.custom-chip {
  display: inline-flex;
  padding: 1px 11px;
  border-radius: 16px;
  align-items: center;
  cursor: default;
  min-height: 22px;
  height: 1px;
  font-size: 10px;
  color: white;
  background-color: #7db557;
  margin-left: 5px;
}

.add-goal {
  width: 105px;
  padding-left: 4px;
  height: 25px;
  line-height: 20px;
}

.category-select {
  width: 110px;
}

.chevron {
  width: 20px;
}

.datepicker {
  padding-left: 4px;
  padding-right: 0px;
  height: 25px;
  line-height: 20px;
}

/* 
::ng-deep .mat-datepicker-toggle {
  display: none;
} */