.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.in-progress .card-title {
  color:#4b4be4;
}

.in-progress .mat-icon-button {
  color: #7b86c7;
}

.success .card-title {
  color:darkgreen;
}

.success .mat-icon-button {
  color:lightgreen;
}

.failure .card-title {
  color: indianred;
}

.failure .mat-icon-button {
  color: #f2a99c;
}


.my-card {
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.card-header {
  padding: 15px;
  background-color: white;
  border-radius: inherit;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.card-body {
  padding: 15px;
  border-radius: 0 0 5px 5px;
  font-size: xx-small;
  color: #6a6868;
}