<div class="my-card"
[ngClass]="{
    'in-progress': goalObj.status === 'in_progress',
    'success': goalObj.status === 'success',
    'failure': goalObj.status === 'failure'
  }">
  <div class="card-header">
    <div class="card-title" (click)="toggleCardBodyVisible()">
        <img class="custom-icon" [src]="Icons.get(goalObj.priority)" [alt]="goalObj.priority" 
          [matTooltip]="getPriorityText(goalObj.priority)">
        <mat-icon [class]="getGoalTypeIconColor(goalObj.goal_type)">
          {{ getGoalTypeIcon(goalObj.goal_type) }}
        </mat-icon>
        <div>{{ goalObj.goal_title }}</div>
    </div>
    <div class="more-button">
        <button (click)="handleEditGoal()" mat-icon-button matTooltip="Edit goal" class="card-menu">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Options" class="card-menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <ng-template matMenuContent>
            <button mat-menu-item *ngIf="goalObj.status !== 'in_progress'" (click)="handleUpdateStatus('in_progress')">
              <mat-icon>double_arrow</mat-icon>Mark active
            </button>
            <button mat-menu-item *ngIf="goalObj.status !== 'success'" (click)="handleUpdateStatus('success')">
              <mat-icon>done</mat-icon>Mark completed
            </button>
            <button mat-menu-item *ngIf="goalObj.status !== 'failure'" (click)="handleUpdateStatus('failure')">
              <mat-icon>close</mat-icon>Mark failed
            </button>
            <button mat-menu-item (click)="handleCopyGoal()" matTooltip="Copy Goal to other date/interval">
              <mat-icon>content_copy</mat-icon> Copy to date
            </button>
            <button mat-menu-item (click)="handleDeleteGoal()">
              <mat-icon>delete</mat-icon> Delete goal
            </button>
          </ng-template>
        </mat-menu>
      </div>
  </div>
  <div *ngIf="isCardBodyVisible" class="card-body" fxLayout="column" fxLayoutAlign="space-between stretch"
    fxLayoutGap="5px">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxflex>
          <b>Created on:</b> {{ goalObj.created_date?.format("DD-MM-YYYY") }}
        </div>
        <div fxflex>
          <b>Progress:</b> {{ goalObj.actual_val }} / {{ goalObj.target_val }}
        </div>
    </div>
    <div fxflex><b>Description:</b></div>
    <div fxflex><p [innerHtml]="goalObj.goal_description"></p></div>
    <div fxflex>
      <b>Closing Comment:</b> {{ goalObj.close_comment || "N/A" }}
    </div>
  </div>
</div>